<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="post">
			<div class="post-header">
				{{ if ne .Date.Year 1 }}
					<div class="meta">
						<div class="date">
							<span class="day">{{ dateFormat "02" .Date }}</span>
							<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
						</div>
					</div>
				{{ end }}
				<div class="matter">
					<h1 class="title">{{ .Title }}</h1>
				</div>
			</div>
					
			<div class="markdown">
				{{ .Content }}
			</div>

			<div class="tags">
				{{ if ne .Type "page" }}
					{{ if gt .Params.tags 0 }}
						<ul class="flat">
							{{ range .Params.tags }}
							<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{ end }}
						</ul>
					{{ end }}
				{{ end }}
			</div>

			{{- if .Site.Config.Services.Disqus.Shortname -}}
			{{- $.Scratch.Set "isDisqus" true -}}

			{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
				{{- $.Scratch.Set "isDisqus" false -}}
			{{- end -}}

			{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
				{{- $.Scratch.Set "isDisqus" false -}}
			{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
				{{- $.Scratch.Set "isDisqus" true -}}
			{{- end -}}

			{{- if eq ($.Scratch.Get "isDisqus") true -}}
			{{- partial "disqus.html" . -}}
			{{- end -}}
			{{- end -}}
		</div>
	</div>
	{{ partial "footer.html" . }}

    {{ if or ( .HasShortcode "audio" ) ( .HasShortcode "video" ) }}

        <link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css">

        <script src="https://cdn.plyr.io/3.7.3/plyr.polyfilled.js" crossorigin="anonymous"></script>
        <script>
          (function() {
            const players = Array.from(document.querySelectorAll('.player')).map(
                p => new Plyr(p, {
                    controls: ['play', 'current-time', 'progress', 'duration', 'mute', 'volume', 'download', 'fullscreen'],
                    resetOnEnd: true,
                })
            );
            players.forEach(function(p, i){
                /* Stop other players when starting */
                p.on('play', event => {
                    const instance = event.detail.plyr;
                    console.log('Stop others players');
                    players.forEach(function(p){ if(p != instance) p.stop()});
                })
                /* Play the next track if there are multiple players */
                p.on('ended', () => {
                    if (i + 1 < players.length) {
                        players[i + 1].play()
                    }
                })
            });
        })();
        </script>

    {{ end }}
</body>
</html>
